body {
 background-image: url(https://wallpaperaccess.com/thumb/22383.jpg);
 background-repeat: no-repeat;
 background-size: 100%;
 color: ivory;
 text-align: center;
 padding: 5px;
}

p {
 font-size: 20px;
 font-family: Courier New, monospace;
}


h1 {
 font-size: 50px;
 font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;

}

h2 {

font-size: 35px;
}